@model IEnumerable<Product>
@{
    ViewBag.Title = "Ürünler";
}

<h4 class="border-bottom">Ürünler</h4>
<div class="d-flex justify-content-end">
    <a class="btn btn-primary" asp-action="Create">
        <i class="bi bi-plus-lg"></i>
        Yeni Kategori
    </a>
</div>
@if (Model.Any())
{
    <table class="table table-striped table-bordered">
        <colgroup>
            <col />
            <col />
            <col />
            <col />
            <col width="200" />
        </colgroup>

        <thead>
            <tr>
                <th>Görsel</th>
                <th>Kategori</th>
                <th>Ürünler</th>
                <th>Fiyat</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="@item.Image" width="160" height="120" />
                    </td>
                    <td>
                        @item.Category!.Name
                    </td>
                    <td> @item.Name</td>
                    <td> @item.Price.ToString("n2")</td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger remove-btn">
                            <i class="bi bi-trash"></i>Sil
                        </a>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">
                            <i class="bi bi-pen"></i>Düzenle
                        </a>

                    </td>
                </tr>}
            </tbody>
            <tfoot>

            </tfoot>
        </table>
    
            } else  {
            <div class="d-flex flex-column align-items-center p-4">
                <i class="bi bi-emoji-frown"></i>
                <p>Kayıt yok</p>
            </div>
            }

            @section scripts {

                <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                <script>
                    $('.remove-btn').on('click', (e) => {
                        Swal.fire({
                            icon: 'warning',
                            title: 'UYARI',
                            html: 'Emin misiniz?',
                            showCancelButton: true,
                            cancelButtonText: 'Iptal',
                            confirmButtonText: ' <i class="bi bi-trash"></i>Sil'

                        })
                            .then((r) => {
                                if (r.isConfirmed) {
                                    window.location = $(e.currentTarget).attr('href');
                                }

                            })
                        return false;
                    });
                </script>


            }